/* 1. Box-sizing reset (crucial for predictable sizing) */
*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    /* colors */
    --green: hsl(158, 36%, 37%);
    --darker-green: hsl(158, 42%, 18%);

    --black: hsl(212, 21%, 14%);
    --grey: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%);
    --white: hsl(0, 0%, 100%);

    /* font styles */
    --ff-heading: 'Fraunces', serif;
    --ff-description: 'Montserrat', system-ui, sans-serif;
}

html,
body, 
figure {
    margin: 0;
    min-height: 100%;
    padding: 0;
}

.page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cream);
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 375px;
    max-width: 100%;
    overflow: hidden;
    border-radius: 15px;
    font-weight: 500;
}

.card__image img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.card__content {
    padding: 1.5rem;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__product-type {
    font-family: var(--ff-description);
    color: var(--grey);
}

.card__title {
    font-family: var(--ff-heading);
    font-weight: 700;
    color: var(--black);
}

.card__description {
    font-family: var(--ff-description);
    color: var(--grey);
    line-height: 1.5;
}

.card__price-group {
    margin-bottom: 1.5rem;
}

.card__price-new {
    font-family: var(--ff-heading);
    font-weight: 700;
    color: var(--green);
    font-size: xx-large;
    padding-right: 1rem;
}

.card__price-old {
    font-family: var(--ff-description);
    color: var(--grey);
    vertical-align: text-top;
}

.card__button {
    background-color: var(--green);
    border: none;
    color: var(--white);
    font-family: var(--ff-description);
    text-align: center;
    width: 100%;
    border-radius: 15px;
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
    padding: 1rem 0;
}

.card__button:hover,
.card__button:focus {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
}

@media (width >= 768px) {
    .card {
        flex-direction: row;
        width: 670px;
    }

    .card__image,
    .card__content {
        width: 50%;
    }
}